<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/department/dashboard"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Insert Department" ,  "/department/new"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Manage Department" ,  "/department/manage"%></td>
</tr>
</table>