<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/staff_admin/dashboard"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Insert Staff" ,  "/staff_admin/new"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Manage Staff" ,  "/staff_admin/manage"%></td>
</tr>
</table>