<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/client/dashboard"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Insert Client" ,  "/client/new"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Manage Client" ,  "/client/manage"%></td>
</tr>
</table>