<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/dashboard/new"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Create News" ,  "/news/new"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "News History" ,  "/news/newslist"%></td>
</tr>
</table>