<DIV id=ou186 style="position:absolute; left:5px; top:176px; width:175px; height:36px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:183px; height:44px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- Open Tickets_files/u186.png',sizingMethod='scale');
"><img style="width:183px; height:44px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- Open Tickets_files/u186.png" border="0" alt=""></span>

</DIV>
<DIV id=u186container style="position:absolute; left:5px; top:176px; width:175px; height:36px;; overflow:visible">

<DIV id=u187 style="position:absolute; left:2px; top:9.5px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u187_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u186 src="/images/Resources/transparent.gif" style="position:absolute; left:5px; top:176px; width:174px; height:35px"  >

<DIV id=u188 style="position:absolute; left:18px; top:184px; width:102px; height:18px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u188_rtf><span style=" font-family:'Verdana'; color:#FFFFFF; font-size:11pt;"><b>Template</b></span></DIV></DIV>
<DIV id=ou189 style="position:absolute; left:5px; top:212px; width:175px; height:209px;; overflow:visible">

<span style="position:absolute; left:-3px; top:-3px; width:183px; height:217px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- Open Tickets_files/u189.png',sizingMethod='scale');
"><img style="width:183px; height:217px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- Open Tickets_files/u189.png" border="0" alt=""></span>

</DIV>
<DIV id=u189container style="position:absolute; left:5px; top:212px; width:175px; height:209px;; overflow:visible">

<DIV id=u190 style="position:absolute; left:2px; top:96px; width:170px; height:16px; ; ; text-align: center ; font-family:Arial; text-align:left;" >
<DIV id=u190_rtf>&nbsp;</DIV></DIV>
</DIV>
<IMG id=u189 src="/images/Resources/transparent.gif" style="position:absolute; left:5px; top:212px; width:174px; height:208px"  >

<span style="position:absolute; left:7px; top:285px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- Open Tickets_files/u191.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- Open Tickets_files/u191.png" border="0" alt=""></span>

<IMG id=u191 src="/images/Resources/transparent.gif" style="position:absolute; left:7px; top:284.5px; width:170px; height:2px">

<DIV id=u192 style="position:absolute; left:17px; top:260px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u192_rtf><span style=" color:#333399; font-size:10pt;">Open Tickets </span></DIV></DIV>
<DIV id=u192ann style="font-size:1px; position:absolute; left:128px; top:256px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:7px; top:317px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- Open Tickets_files/u193.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- Open Tickets_files/u193.png" border="0" alt=""></span>

<IMG id=u193 src="/images/Resources/transparent.gif" style="position:absolute; left:7px; top:316.5px; width:170px; height:2px">

<DIV id=u194 style="position:absolute; left:17px; top:293px; width:140px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u194_rtf><span style=" color:#333399; font-size:10pt;">Pending Tickets</span></DIV></DIV>
<span style="position:absolute; left:7px; top:349px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- Open Tickets_files/u195.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- Open Tickets_files/u195.png" border="0" alt=""></span>

<IMG id=u195 src="/images/Resources/transparent.gif" style="position:absolute; left:7px; top:348.5px; width:170px; height:2px">

<DIV id=u196 style="position:absolute; left:17px; top:325px; width:140px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u196_rtf><span style=" color:#333399; font-size:10pt;">Completed Tickets</span></DIV></DIV>
<DIV id=u197 style="position:absolute; left:17px; top:362px; width:120px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u197_rtf><span style=" color:#333399; font-size:10pt;">Denied Tickets</span></DIV></DIV>
<DIV id=u198 style="position:absolute; left:17px; top:395px; width:100px; height:16px; ; ; text-align: left ; font-family:Arial; text-align:left;" >
<DIV id=u198_rtf><span style=" font-family:'Arial'; color:#333399; font-size:10pt;">Submit Ticket</span></DIV></DIV>
<DIV id=u198ann style="font-size:1px; position:absolute; left:108px; top:391px; width:1px; height:1px; overflow:visible"></DIV>

<span style="position:absolute; left:7px; top:388px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- Open Tickets_files/u199.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- Open Tickets_files/u199.png" border="0" alt=""></span>

<IMG id=u199 src="/images/Resources/transparent.gif" style="position:absolute; left:7px; top:387.5px; width:170px; height:2px">

<span style="position:absolute; left:7px; top:247px; width:173px; height:5px; ;
filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/Admin -- Open Tickets_files/u200.png',sizingMethod='scale');
"><img style="width:173px; height:5px; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);" 
src="/images/Admin -- Open Tickets_files/u200.png" border="0" alt=""></span>

