<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/clientview/dashboard"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "My Details" ,  "/clientview/clientmyaccount"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Submit Ticket" ,  "/clientview/new"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Change Password" ,  "/users/edit"%></td>
</tr>
</table>