<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/clientview/dashboard"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Submit Ticket" ,  "/clientview/new"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "View Ticket" ,  "/clientview/clientview"%></td>
</tr>
</table>