<div id="content">
			<div id="wrapper">
				<div id="main">
					<div id="posts">
					<div id="users">
  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% end %>
	</div>
						<h2>Help.</h2> 
                    
 <h1 id="t1">                       
You can all kind of help in this system,You can also find more details by contacting throught mail.</h1><br>

					  <div id="m2">
						
<h1>Contact Information</h1>
<br><br>
<center>
<table>
<tr>
<td>Contact person</td>    <td>Site Administrator</td></tr>
<tr><td>Email </td> <td>adminsupportstack@gmail.com</td></tr>
<tr><td>Mobile	</td>  <td>9003375353</td></tr>
<tr><td>website  </td> <td>www.supportstact.org</td></tr>
<tr><td>Blog   </td><td> www.supportstact.blogspot.com</td></tr>
<tr><td>Twitter</td><td>www.supportstact@twitter.in</td></tr>
<tr><td>Facebook   </td> <td>www.supportstact@facebook.com</td></tr>
</table>
</center>


							
							</div>
						
					</div>
				</div>
				<div id="sidebar1">
					<img src="/images/sidebar_top1.jpg" alt="setalpm" width="333" height="45" class="quote" /><br />
		<%= render :partial=>"/faq/show"%>
					
					<br>
	<center><h2>	Catch us:</center></h2><br>
						<div id="map" style="width: 250px; height: 400px"></div>
					
					
					<div class="inner_copy"><a href="http://www.greatdirectories.org/categories/travel-directories/">travel directories</a><a href="http://www.grungemagazine.com/">grunge</a></div>
					<ul id="photos">
				
					</ul>
				</div>
			</div>
		</div>
	






 
