<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/staffview/dashboard"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "My Account" ,  "/staffview/staffmyaccount"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Change Password" ,  "/users/edit"%></td>
</tr>
</table>