<table>
<tr>
<th id="table1">
Template
</th>
</tr>
<tr>
<td  id="table2"><%= link_to "Dashboard" ,  "/staffview/dashboard"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Assigned Tickets" ,  "/staffview/staffview"%></td>
</tr>
<tr>
<td id="table2"><%= link_to "Completed Tickets" ,  "/staffview/completed"%></td>
</tr>
</table>